* {
    font-family: 'Raleway', sans-serif;

}
body {
    background-color: #f2f2f2;
}

.navBar {
    font-family: 'Raleway', sans-serif;
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

.navBar a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.navBar a:hover {
    background-color: #333;
    color: #fff;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown::after {
    content: "\25BE";
    /* Unicode for downward arrow */
    font-size: 0.8em;
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* This is css for the forms for Create Activity and Routines */ 

.formContainer {
    margin-top: 20px;
}

.postin {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.formGroup {
    margin-bottom: 10px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.loginuser {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

