* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #f2f2f2;
}

.navBar {
  font-family: 'Raleway', sans-serif;
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  display:flex;
  justify-content:center;
}
.loginContainer {
  max-width: 400px;
  margin: 0 auto;
}

.navBar a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.navBar a:hover {
  background-color: #333;
  color: #fff;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logout-dropbtn {
  display: flex;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
}

.logout-dropbtn:hover {
  background-color: #ddd;
}
label[for="password"] {
 margin-left:5px;
}


/* This is css for the forms for Create Activity and Routines */

.formContainer {
  margin-top: 20px;
}

.postin {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.formGroup {
  margin-bottom: 10px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.loginuser {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}


button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.modal-content {
  width: 400px; 
  max-width: 90%;
  margin: 0 auto; 
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.modal-open {
  overflow: hidden; 

}

/* this is for activites */ 

.activity-countainer {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* this is for spreading the card */ 
.getActivityWithPublicRoutine {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.getActivityWithPublicRoutine .modalContent {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}

.edit-button-left {
  display: flex;
  justify-content: flex-start;
}

/* for routines */

.routine-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-countainers {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* #welcomeUser {
  display: flex;
  overflow: auto;
  object-fit: cover;
  overflow: hidden;
  width: ;
} */

img {
  max-width: 50vw;
}

.homepage-container {
  background-color: #f2f2f2;
  color: #333;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.link-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.link-button:hover {
  background-color: #0056b3;
}

.welcome-user-container {
  margin-top: 40px;
}

/* Slideshow Styles */
.slideshow-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 400px;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

